.button, button {
  display: inline-block;
  background: #333;
  color: #f4f4f4;
  text-decoration: none;
  border-radius: 2px;
  padding: 15px 20px;
  transition: ease-in-out all 100ms;
  cursor: pointer;
  &.big {
    font-size: 1.5rem;
    padding: 30px 40px;
    margin: 2rem 1rem;
  }
  &.primary {
    background: #f7797d;
    border: 2px solid transparent;
    color: #f4f4f4;
    &:hover {
      background: darken(#f7797d, 10%);
    }
  }
  &.secondary {
    background: transparent;
    border: 2px solid #f7797d;
    color: #f7797d;
    &:hover {
      background: #f7797d;
      color: #f4f4f4;
    }
  }
  &:hover {
    background: #444;
  }
}