.code {
  overflow-y: scroll;
  overflow-x: auto;
  background: $color3;
  font-size: 0.9rem;
  text-align: left;
  padding: 1.75rem;
  border-radius: 2px;
  margin-bottom: 1rem;
  .c1 {color: #ff2c6d}
  .c2 {color: #ffb86c}
  .c3 {color: #19f9d8}
  .c4 {color: #676b79}
  .c5 {color: #ff75b5}
  .c6 {color: #e6e6e6}
}