#footer {
  background: $color3;
  padding: 150px 0;
  color: $color4;
  h2 {
    font-size: 5rem;
    font-weight: 100;
    @media(max-width: 768px) {
      font-size: 3rem;
    }
  }
  p.desc {
    font-size: 2rem;
    font-weight: 100;
    &.copyright {
      font-size: 1rem;
      color: #676b79;
      a {
        color: #676b79;
        font-weight: bold;
      }
    }
  }
}
