#header {
  position: relative;
  color: $color4;
  background: $color2;
  background: linear-gradient(to right, $color1, $color2);
  padding: 0 0 325px 0;
  &:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 150px solid $color4;
  }
  h1 {
    font-size: 3.75rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    @media(max-width: 768px) {
      font-size: 2.75rem;
      margin-top: 2rem;
    }
  }
  p.desc {
    font-size: 1.75rem;
    font-weight: normal;
  }
}

#demo {
  padding: 50px 0 125px 0;
  background-image: url('/assets/img/hero-pattern.02f57cc92.svg');
  background-repeat: repeat-y;
  background-position: center top;
  h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    color: $color3;
  }
  p.desc {
    font-size: 1.75rem;
    font-weight: normal;
    color: $color3;
  }
}

