#changelog {
  padding: 100px;
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    a {
      font-size: 0.8rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}