@import "app/colors.scss";
@import "app/general.scss";

@import "app/buttons.scss";
@import "app/toggle.scss";
@import "app/navigation.scss";
@import "app/code.scss";
@import "app/footer.scss";

@import "app/page_frontpage.scss";
@import "app/page_documentation.scss";
@import "app/page_changelog.scss";

@import "themes/darkmoon.scss";
@import "themes/royal.scss";
@import "themes/spectral.scss";
@import "themes/markee.scss";


.muds-dialog {
  background: #f4f4f4;
  padding: 10px !important;
  //border: 2px solid #EBEBEB;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  position: fixed;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
  .muds-dialog-close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 10px;
  }
  .muds-dialog-title {

  }
  .muds-dialog.content {

  }
  .muds-dialog-action {

  }
  hr {
    width: calc(100% + 20px);
    height: 1px;
    border: 0;
    background: #ddd;
    margin: 0.5rem 0 1rem -10px;
  }
}
