* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background: #f4f4f4; }

a {
  cursor: pointer;
  color: #1D976C; }

p {
  margin-bottom: 1rem;
  line-height: 1.45; }

ul {
  margin-left: 1.5rem; }

.button, button {
  display: inline-block;
  background: #19191a;
  color: #f4f4f4;
  text-decoration: none;
  border-radius: 2px;
  padding: 15px 20px;
  transition: ease-in-out all 100ms;
  cursor: pointer; }
  .button.big, button.big {
    font-size: 1.5rem;
    padding: 30px 40px;
    margin: 1rem; }
  .button.primary, button.primary {
    background: #1D976C;
    border: 2px solid transparent;
    color: #f4f4f4; }
    .button.primary:hover, button.primary:hover {
      background: #156c4d; }
  .button.secondary, button.secondary {
    background: transparent;
    border: 2px solid #1D976C;
    color: #1D976C; }
    .button.secondary:hover, button.secondary:hover {
      background: #1D976C;
      color: #f4f4f4; }
  .button:hover, button:hover {
    background: black; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection,
    .tgl *:after::selection,
    .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: inline-block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease; }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease; }

.tgl-light:checked + .tgl-btn {
  background: #1D976C; }

.navigation {
  height: 64px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 46em) {
    .navigation {
      flex-wrap: wrap;
      height: auto; } }
  .navigation .navigation-items a {
    line-height: 64px;
    color: #f4f4f4;
    font-weight: normal;
    margin-left: 2rem;
    font-weight: 100;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    border: 0; }
    @media (max-width: 46em) {
      .navigation .navigation-items a {
        margin: 0 1rem; } }
    .navigation .navigation-items a:hover {
      color: rgba(244, 244, 244, 0.8);
      background: none; }
  @media (max-width: 46em) {
    .navigation .navigation-items {
      width: 100%;
      background: #19191a;
      margin: 2rem 0 0 0;
      position: relative;
      display: block;
      text-align: center; }
      .navigation .navigation-items a {
        color: #f4f4f4; }
        .navigation .navigation-items a:hover {
          color: rgba(244, 244, 244, 0.4); } }
  .navigation .logo {
    margin-top: 20px;
    text-decoration: none;
    border: 0; }
    .navigation .logo .text {
      color: #f4f4f4;
      font-weight: 100;
      font-size: 1.4rem;
      text-transform: uppercase;
      height: 64px;
      position: relative;
      top: -10px;
      margin-left: 5px;
      transition: all 100ms ease-in-out;
      border: 0; }
    .navigation .logo svg {
      height: 60%;
      width: 105px; }
    @media (max-width: 46em) {
      .navigation .logo {
        width: 100%;
        text-align: center;
        margin: 2rem 0 0 0; } }
  @media (max-width: 48em) {
    .navigation {
      margin-bottom: 0px; } }

.code {
  overflow-y: scroll;
  overflow-x: auto;
  background: #19191a;
  font-size: 0.9rem;
  text-align: left;
  padding: 1.75rem;
  border-radius: 2px;
  margin-bottom: 1rem; }
  .code .c1 {
    color: #ff2c6d; }
  .code .c2 {
    color: #ffb86c; }
  .code .c3 {
    color: #19f9d8; }
  .code .c4 {
    color: #676b79; }
  .code .c5 {
    color: #ff75b5; }
  .code .c6 {
    color: #e6e6e6; }

.tag {
  font-family: monospace;
  font-size: 0.9rem;
  background: #93F9B9;
  color: #19191a;
  padding: 0px 3px;
  border-radius: 3px;
  font-weight: bold; }

#footer {
  background: #19191a;
  padding: 150px 0;
  color: #f4f4f4; }
  #footer h2 {
    font-size: 5rem;
    font-weight: 100; }
    @media (max-width: 768px) {
      #footer h2 {
        font-size: 3rem; } }
  #footer p.desc {
    font-size: 2rem;
    font-weight: 100; }
    #footer p.desc.copyright {
      font-size: 1rem;
      color: #676b79; }
      #footer p.desc.copyright a {
        color: #676b79;
        font-weight: bold; }

#header {
  position: relative;
  color: #f4f4f4;
  background: #1D976C;
  background: linear-gradient(to right, #93F9B9, #1D976C);
  padding: 0 0 325px 0; }
  #header:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 150px solid #f4f4f4; }
  #header h1 {
    font-size: 3.75rem;
    font-weight: 100;
    margin-bottom: 1.5rem; }
    @media (max-width: 768px) {
      #header h1 {
        font-size: 2.75rem;
        margin-top: 2rem; } }
  #header p.desc {
    font-size: 1.75rem;
    font-weight: normal; }

#demo {
  padding: 50px 0 125px 0;
  background-image: url("/assets/img/hero-pattern.02f57cc92.svg");
  background-repeat: repeat-y;
  background-position: center top; }
  #demo h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
    color: #19191a; }
  #demo p.desc {
    font-size: 1.75rem;
    font-weight: normal;
    color: #19191a; }

#menu-bg {
  padding: 0;
  height: 65px;
  position: relative;
  color: #f4f4f4;
  background: #1D976C;
  background: linear-gradient(to right, #93F9B9, #1D976C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  @media (max-width: 46em) {
    #menu-bg {
      height: 140px; } }

.doc-nav a {
  margin: 0.5rem 0;
  display: block; }

#changelog {
  padding: 100px 0; }
  #changelog h1 {
    font-size: 2.5rem; }
  #changelog h2 a {
    font-size: 0.8rem;
    text-decoration: none; }
    #changelog h2 a:hover {
      text-decoration: underline; }

.darkmoon .muds-toolbar {
  background: #202125;
  border: 2px solid #202125 !important; }
  .darkmoon .muds-toolbar .muds-separator {
    background: #575757; }
  .darkmoon .muds-toolbar .muds-item {
    color: #999; }
    .darkmoon .muds-toolbar .muds-item.disabled svg {
      fill: #454545; }
    .darkmoon .muds-toolbar .muds-item.disabled:hover svg {
      fill: #454545; }
    .darkmoon .muds-toolbar .muds-item svg {
      fill: #999; }
    .darkmoon .muds-toolbar .muds-item:hover {
      color: #f9f9f9;
      cursor: pointer; }
      .darkmoon .muds-toolbar .muds-item:hover svg {
        fill: #f9f9f9; }
  .darkmoon .muds-toolbar .muds-dropdown ul {
    background-color: #202125;
    border-color: #454545; }
    .darkmoon .muds-toolbar .muds-dropdown ul:after {
      border-bottom-color: #454545; }
    .darkmoon .muds-toolbar .muds-dropdown ul li:hover {
      background-color: #19191a;
      color: #f4f4f4; }
    .darkmoon .muds-toolbar .muds-dropdown ul li:first-of-type:after {
      border-bottom-color: #202125; }

.darkmoon .muds-content {
  border: 2px solid #202125;
  background: #191A1D;
  color: #eee !important; }
  .darkmoon .muds-content .muds-quote {
    background: #333 !important;
    color: #eee !important; }
  .darkmoon .muds-content pre {
    background: #333 !important;
    color: #eee !important; }

.darkmoon .muds-resizer {
  background: #777; }
  .darkmoon .muds-resizer::after {
    background: #ddd; }

.darkmoon .muds-character-count {
  background: #777;
  color: #000;
  right: 0; }

.royal .muds-toolbar {
  background: #553982;
  border: 1px solid #553982 !important; }
  .royal .muds-toolbar .muds-separator {
    background: rgba(255, 255, 255, 0.3); }
  .royal .muds-toolbar .muds-item {
    color: #f4f4f4; }
    .royal .muds-toolbar .muds-item.disabled svg {
      fill: rgba(0, 0, 0, 0.4); }
    .royal .muds-toolbar .muds-item.disabled:hover svg {
      fill: rgba(0, 0, 0, 0.4); }
    .royal .muds-toolbar .muds-item svg {
      fill: #f4f4f4; }
    .royal .muds-toolbar .muds-item:hover {
      color: #f9f9f9;
      cursor: pointer; }
      .royal .muds-toolbar .muds-item:hover svg {
        fill: #f9f9f9; }
  .royal .muds-toolbar .muds-dropdown ul {
    background-color: #553982 !important;
    border-color: #3b3582 !important; }
    .royal .muds-toolbar .muds-dropdown ul:after {
      border-bottom-color: #3b3582 !important; }
    .royal .muds-toolbar .muds-dropdown ul li {
      color: #f4f4f4 !important; }
      .royal .muds-toolbar .muds-dropdown ul li:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #f4f4f4 !important; }
      .royal .muds-toolbar .muds-dropdown ul li:first-of-type:after {
        border-bottom-color: #553982 !important; }
      .royal .muds-toolbar .muds-dropdown ul li button {
        color: #f4f4f4 !important; }
        .royal .muds-toolbar .muds-dropdown ul li button svg {
          fill: #f4f4f4 !important; }

.royal .muds-content {
  border: 1px solid #553982 !important;
  background: white !important;
  color: #333 !important; }
  .royal .muds-content .muds-quote {
    background: #eee !important;
    color: #333 !important;
    border-left-color: #553982 !important; }
    .royal .muds-content .muds-quote:before {
      color: #553982 !important; }
  .royal .muds-content pre {
    background: #eee !important;
    color: #333 !important; }
  .royal .muds-content a {
    color: #553982 !important;
    font-weight: bold; }

.royal .muds-resizer {
  background: #604982; }
  .royal .muds-resizer::after {
    background: #ddd; }

.royal .muds-character-count {
  background: #604982;
  color: white;
  right: 0; }

.spectral.fullscreen {
  background: rgba(0, 0, 0, 0.95); }

.spectral .muds-toolbar {
  background: rgba(0, 0, 0, 0.3);
  border: none !important; }
  .spectral .muds-toolbar .muds-separator {
    background: rgba(255, 255, 255, 0.3); }
  .spectral .muds-toolbar .muds-item {
    color: #f4f4f4; }
    .spectral .muds-toolbar .muds-item.disabled svg {
      fill: rgba(0, 0, 0, 0.4); }
    .spectral .muds-toolbar .muds-item.disabled:hover svg {
      fill: rgba(0, 0, 0, 0.4); }
    .spectral .muds-toolbar .muds-item svg {
      fill: #f4f4f4; }
    .spectral .muds-toolbar .muds-item:hover {
      color: #f9f9f9;
      cursor: pointer; }
      .spectral .muds-toolbar .muds-item:hover svg {
        fill: #f9f9f9; }
  .spectral .muds-toolbar .muds-dropdown ul {
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-color: rgba(0, 0, 0, 0.7) !important; }
    .spectral .muds-toolbar .muds-dropdown ul:after {
      border-bottom-color: rgba(0, 0, 0, 0.7) !important; }
    .spectral .muds-toolbar .muds-dropdown ul li {
      color: #f4f4f4 !important; }
      .spectral .muds-toolbar .muds-dropdown ul li:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #f4f4f4 !important; }
      .spectral .muds-toolbar .muds-dropdown ul li:first-of-type:after {
        border-bottom-color: rgba(0, 0, 0, 0.7) !important; }
      .spectral .muds-toolbar .muds-dropdown ul li button {
        color: #f4f4f4 !important; }
        .spectral .muds-toolbar .muds-dropdown ul li button svg {
          fill: #f4f4f4 !important; }

.spectral .muds-content {
  border: none !important;
  background: rgba(0, 0, 0, 0.3) !important;
  color: #f4f4f4 !important; }
  .spectral .muds-content .muds-quote {
    background: rgba(0, 0, 0, 0.3) !important;
    color: #f4f4f4 !important;
    border-left-color: rgba(0, 0, 0, 0.3) !important; }
    .spectral .muds-content .muds-quote:before {
      color: rgba(0, 0, 0, 0.3) !important; }
  .spectral .muds-content pre {
    background: rgba(0, 0, 0, 0.3) !important;
    color: #f4f4f4 !important; }
  .spectral .muds-content a {
    color: rgba(0, 0, 0, 0.4) !important; }

.spectral .muds-resizer {
  background: rgba(0, 0, 0, 0.3); }
  .spectral .muds-resizer::after {
    background: #ddd; }

.spectral .muds-character-count {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  bottom: 8px;
  right: 8px;
  border-radius: 2px; }

.markee .muds-toolbar {
  border-radius: 0 !important;
  background: white;
  border: 0 !important;
  border-top: 3px solid #41b6e6 !important;
  padding: 0.3rem 0.5rem 0.6rem 0.5rem !important; }
  .markee .muds-toolbar .muds-separator {
    opacity: 0;
    margin: 0 .5rem !important; }
  .markee .muds-toolbar .muds-item {
    background: #e3e3e3;
    border-radius: 0 !important;
    margin: 0 2px; }
    .markee .muds-toolbar .muds-item.muds-dropdown {
      top: 3px;
      vertical-align: center; }
  .markee .muds-toolbar .muds-dropdown ul li button svg {
    position: relative !important;
    bottom: 2px !important; }

.markee .muds-content {
  border-radius: 0 !important;
  border: 1px solid #eee !important; }

.markee .muds-resizer {
  border-radius: 0 0 10px 10px; }

.markee .muds-character-count {
  border-radius: 5px 0 0 0;
  background: #eee !important; }
