.muds-toolbar {
  background: #F7F7F7;
  padding: 5px 5px 5px 5px !important;
  border: 2px solid #EBEBEB;
  border-radius: 2px 2px 0 0;
  text-align: left;
  line-height: 1 !important;
  position: relative !important;
  box-sizing: border-box !important;
  &.tooltips {
    .muds-item {
      &[data-tooltip] {
        position: relative;
        cursor: pointer;
        &:before, &:after {
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
          z-index: 9999;
        }
        &:before {
          position: absolute;
          top: 150%;
          left: -50%;
          margin-bottom: 5px;
          margin-left: 50%;
          padding: 7px;
          width: auto;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          background-color: #000;
          background-color: hsla(0, 0%, 20%, 1);
          color: #fff;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          content: attr(data-tooltip);
          white-space: nowrap;
          text-align: center;
          font-size: 0.8rem;
          line-height: 1.2;
        }
        &:after {
          position: absolute;
          top: calc(150% - 5px);
          left: 50%;
          margin-left: -5px;
          width: 0;
          border-bottom: 5px solid #000;
          border-bottom: 5px solid hsla(0, 0%, 20%, 1);
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          content: " ";
          font-size: 0;
          line-height: 0;
        }
        &:hover:before, &:hover:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .muds-item {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #999;
    display: inline-block;
    padding: 0px 6px !important;
    height: 1.2rem !important;
    line-height: 1 !important;
    font-size: 0.8rem;
    box-sizing: border-box !important;
    vertical-align: top !important;
    &:focus {
      outline: 0;
    }
    &.disabled {
      cursor: not-allowed !important;
      svg {
        fill: #cecece;
      }
      &:hover {
        cursor: not-allowed;
        svg {
          fill: #cecece;
        }
      }
      &.muds-dropdown  {
        label, label svg {
          cursor: not-allowed;
        }
        ul {
          display: none;
        }
      }
    }
    &.show-html {
      &.active {
        background: #ccc;
        border-radius: 2px;
        svg {
          fill: #333;
        }
      }
    }
    svg {
      height: 1.2rem !important;
      width: 1.2rem !important;
      fill: #999;
      margin: 0;
      padding: 0;
    }
    &:hover {
      color: #333;
      cursor: pointer;
      svg {
        fill: #333;;
      }
    }
  }
  .muds-separator {
    background: #d1d1d1;
    width: 2px !important;
    height: 1.2rem !important;
    position: relative !important;
    display: inline-block !important;
    margin: 0px 1rem !important;
    padding: 0 !important;
    top: 0px !important;
    bottom: 0px !important;
    vertical-align: bottom !important;
    box-sizing: border-box !important;
  }
  .muds-dropdown {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #999;
    display: inline-block;
    padding: 0px 6px !important;
    vertical-align: text-bottom !important;
    height: 1.2rem !important;
    position: relative !important;
    line-height: 1 !important;
    box-sizing: sub !important;
    &:hover ul {
      opacity: 1;
      visibility: visible;
    }
    &.headers {
      ul {
        width: 130px;
      }
    }
    &.justification {
      ul {
        width: 150px;
      }
    }
    &.fonts {
      ul {
        padding:0 !important;
        width: 185px !important;
        max-height: 160px !important;
        .wrapper {
          overflow-y: scroll !important;
          max-height: 160px !important;
          li {
            button {
              font-size: 0.9rem;
              &.font-default {
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
              }
              &.font-arial {
                font-family: Arial, Helvetica, sans-serif;
              }
              &.font-arial-black {
                font-family: "Arial Black", Gadget, sans-serif
              }
              &.font-georgia {
                font-family: Georgia, serif;
              }
              &.font-palatino {
                font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
              }
              &.font-times-new-roman {
                font-family: "Times New Roman", Times, serif;
              }
              &.font-comic-sans {
                font-family: "Comic Sans MS", cursive, sans-serif;
              }
              &.font-impact {
                font-family: Impact, Charcoal, sans-serif;
              }
              &.font-lucida-sans-unicode {
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
              }
              &.font-tahoma {
                font-family: Tahoma, Geneva, sans-serif;
              }
              &.font-trebuchet {
                font-family: "Trebuchet MS", Helvetica, sans-serif;
              }
              &.font-verdana {
                font-family: Verdana, Geneva, sans-serif;
              }
              &.font-courier-new {
                font-family: "Courier New", Courier, monospace;
              }
              &.font-lucida-console {
                font-family: "Lucida Console", Monaco, monospace;
              }
            }
          }
        }
      }
    }
    label {
      svg {
        height: 1.2rem !important;
        width: 1.2rem !important;
        fill: #999;
        margin: 0;
        padding: 0;
      }
    }
    ul {
      position: absolute;
      margin: 1rem 0 !important;
      padding: 4px 0;
      top: 13px;
      left: 0;
      background-color: white;
      border: 2px solid #EBEBEB;
      border-radius: 2px;
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.05);
      list-style-type: none;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      z-index: 3;
      &::after {
        content: '';
        position: absolute;
        left: 6px;
        top: -18px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #EBEBEB;
      }
      li {
        padding: 5px 10px;
        color: hsl(0, 0%, 60%);
        cursor: pointer;
        transition: all 100ms;
        &:hover {
          background-color: hsl(0, 0%, 90%);
          color: black;
        }
        button {
          background: none;
          padding: 0;
          margin: 0;
          display: inline-block;
          text-align: left;
          border: none;
          color: #999;
          font-size: 0.9rem;
          cursor: pointer;
          svg {
            height: 1rem !important;
            fill: #999 !important;
            position: relative;
            top: 3px;
          }
          &.muds-h1 {
            font-size: 1.6rem;
          }
          &.muds-h2 {
            font-size: 1.3rem;
          }
          &.muds-h3 {
            font-size: 1.1rem;
          }
        }
        &:first-of-type::after {
          content: '';
          position: absolute;
          left: 6px;
          top: -16px;
          height: 0;
          width: 0;
          z-index: 1;
          border: 8px solid transparent;
          border-bottom-color: white;
          pointer-events: none;
        }
      }
    }
  }
}

.muds-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 10px;
  border: 2px solid #EBEBEB;
  background: #ffffff;
  border-top: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: left;
  border-radius: 0 0 2px 2px;
  box-sizing: border-box;
  color: #333 !important;
  h1 {
    font-size: 2.5rem !important;
    margin: 0 0 1rem 0 !important;
    font-weight: bold !important;
  }
  h2 {
    font-size: 2rem !important;
    margin: 0 0 1rem 0 !important;
    font-weight: bold !important;
  }
  h3 {
    font-size: 1.5rem !important;
    margin: 0 0 0.5rem 0 !important;
    font-weight: bold !important;
  }
  p {
    font-size: 1rem !important;
    margin: 0 0 0.5rem 0 !important;
    font-weight: normal !important;
  }
  a {
    color: #61aeee !important;
  }
  ul, ol {
    margin-left: 1.5rem;
  }
  ul, ul li {
    list-style-type: disc !important;
  }
  ol, ol li {
    list-style-type: decimal !important;
  }
  .muds-quote {
    font-size: 1rem !important;
    margin: 1rem 3rem 1rem 3rem !important;
    font-style: italic !important;
    color: #555555 !important;
    padding: 1.2em 30px 1.2em 50px !important;
    border-left: 8px solid #61aeee !important;
    line-height: 1.6 !important;
    position: relative !important;
    background: #EDEDED !important;
    &:before{
      font-family: Arial !important;
      content: "\201C" !important;
      color: #61aeee !important;
      font-size: 4em !important;
      position: absolute !important;
      left: 10px !important;
      top: -10px !important;
    }
  }
  pre {
    overflow-y: scroll !important;
    margin: 0.5rem 0 !important;
    font-size: 1rem !important;
    color: #555555 !important;
    padding: 1.2em !important;
    line-height: 1.2 !important;
    position: relative !important;
    background: #EDEDED !important;
  }
  &:focus {
    outline: 0;
  }
}

.muds-resizer {
  text-align: center;
  position: relative;
  background: #EBEBEB;
  width: 100%;
  height: 6px;
  border-radius: 0 0 2px 2px;
  right: 0;
  top: -6px;
  cursor: ns-resize;
  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 1px;
    left: calc(50% - 3px);
    background: #333;
    top: 2px;
  }
}


// Custom Themes
.darkmoon {
  .muds-toolbar {
    background: #202125;
    border: 2px solid #202125 !important;
    .muds-separator {
      background: #575757;
    }
    .muds-item {
      color: #999;
      &.disabled {
        svg {
          fill: #454545;
        }
        &:hover {
          svg {
            fill: #454545;
          }
        }
      }
      svg {
        fill: #999;
      }
      &:hover {
        color: #f9f9f9;
        cursor: pointer;
        svg {
          fill: #f9f9f9;
        }
      }
    }
    .muds-dropdown {
      ul {
        background-color: #202125;
        border-color: #454545;
        &:after {
          border-bottom-color: #454545;
        }
        li {
          &:hover {
            background-color: #19191a;
            color: #f4f4f4;
          }
          &:first-of-type:after {
            border-bottom-color: #202125;
          }
        }
      }
    }
  }
  .muds-content {
    border: 2px solid #202125;
    background: #191A1D;
    color: #eee !important;
    .muds-quote {
      background: #333 !important;
      color: #eee !important;
    }
    pre {
      background: #333 !important;
      color: #eee !important;
    }
  }
  .muds-resizer {
    background: #777;
    &::after {
      background: #ddd;
    }
  }
}

.royal {
  .muds-toolbar {
    background: #553982;
    border: 1px solid #553982 !important;
    .muds-separator {
      background: rgba(255,255,255,0.3);
    }
    .muds-item {
      color: #f4f4f4;
      &.disabled {
        svg {
          fill: rgba(0,0,0,0.4);
        }
        &:hover {
          svg {
            fill: rgba(0,0,0,0.4);
          }
        }
      }
      svg {
        fill: #f4f4f4;
      }
      &:hover {
        color: #f9f9f9;
        cursor: pointer;
        svg {
          fill: #f9f9f9;
        }
      }
    }
    .muds-dropdown {
      ul {
        background-color: #553982 !important;
        border-color: #3b3582 !important;
        &:after {
          border-bottom-color: #3b3582 !important;
        }
        li {
          color: #f4f4f4 !important;
          &:hover {
            background-color: rgba(0,0,0,0.2);
            color: #f4f4f4 !important;
          }
          &:first-of-type:after {
            border-bottom-color: #553982 !important;
          }
          button {
            color: #f4f4f4 !important;
            svg {
              fill: #f4f4f4 !important;
            }
          }
        }
      }
    }
  }
  .muds-content {
    border: 1px solid #553982 !important;
    background: white !important;
    color: #333 !important;
    .muds-quote {
      background: #eee !important;
      color: #333 !important;
      border-left-color: #553982 !important;
      &:before {
        color: #553982 !important;
      }
    }
    pre {
      background: #eee !important;
      color: #333 !important;
    }
    a {
      color: #553982 !important;
      font-weight: bold;
    }
  }
  .muds-resizer {
    background: #604982;
    &::after {
      background: #ddd;
    }
  }
}

.spectral {
  &.fullscreen {
    background: rgba(0,0,0,0.95);
  }
  .muds-toolbar {
    background: rgba(0,0,0,0.3);
    border: none !important;
    .muds-separator {
      background: rgba(255,255,255,0.3);
    }
    .muds-item {
      color: #f4f4f4;
      &.disabled {
        svg {
          fill: rgba(0,0,0,0.4);
        }
        &:hover {
          svg {
            fill: rgba(0,0,0,0.4);
          }
        }
      }
      svg {
        fill: #f4f4f4;
      }
      &:hover {
        color: #f9f9f9;
        cursor: pointer;
        svg {
          fill: #f9f9f9;
        }
      }
    }
    .muds-dropdown {
      ul {
        background-color: rgba(0,0,0,0.7) !important;
        border-color: rgba(0,0,0,0.7) !important;
        &:after {
          border-bottom-color: rgba(0,0,0,0.7) !important;
        }
        li {
          color: #f4f4f4 !important;
          &:hover {
            background-color: rgba(0,0,0,0.5);
            color: #f4f4f4 !important;
          }
          &:first-of-type:after {
            border-bottom-color: rgba(0,0,0,0.7) !important;
          }
          button {
            color: #f4f4f4 !important;
            svg {
              fill: #f4f4f4 !important;
            }
          }
        }
      }
    }
  }
  .muds-content {
    border: none !important;
    background: rgba(0,0,0,0.3) !important;
    color: #f4f4f4 !important;
    .muds-quote {
      background: rgba(0,0,0,0.3) !important;
      color: #f4f4f4 !important;
      border-left-color: rgba(0,0,0,0.3) !important;
      &:before {
        color: rgba(0,0,0,0.3) !important;
      }
    }
    pre {
      background: rgba(0,0,0,0.3) !important;
      color: #f4f4f4 !important;
    }
    a {
      color: rgba(0,0,0,0.4) !important;
    }
  }
  .muds-resizer {
    background: rgba(0,0,0,0.3);
    &::after {
      background: #ddd;
    }
  }
}