h1 {
    font-size: 2.5rem !important;
    margin: 0 0 1rem 0 !important;
    font-weight: bold !important;
}
h2 {
    font-size: 2rem !important;
    margin: 0 0 1rem 0 !important;
    font-weight: bold !important;
}
h3 {
    font-size: 1.5rem !important;
    margin: 0 0 0.5rem 0 !important;
    font-weight: bold !important;
}
p {
    font-size: 1rem !important;
    margin: 0 0 0.5rem 0 !important;
    font-weight: normal !important;
}
a {
    color: #61aeee !important;
}
ul, ol {
    margin-left: 1.5rem !important;
}
blockquote {
    font-size: 1rem !important;
    margin: 1rem 3rem 1rem 3rem !important;
    font-style: italic !important;
    color: #555555 !important;
    padding: 1.2em 30px 1.2em 50px !important;
    border-left: 8px solid #61aeee !important;
    line-height: 1.6 !important;
    position: relative !important;
    background: #EDEDED !important;
}
blockquote::before{
    font-family: Arial !important;
    content: "\201C" !important;
    color: #61aeee !important;
    font-size: 4em !important;
    position: absolute !important;
    left: 10px !important;
    top: -10px !important;
}
